.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1vmin;
    background-color: black;
    
    margin-left: 40vmin;
    margin-right: 40vmin;
    margin-top: 10vmin;
  }
  
  .grid-container > div {
    background-color: rgb(183, 190, 179);
    text-align: center;
    padding: 10vmin 0;
    font-size: 30px;
  }

  h1 {
      text-align: center;
  }
